<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light"><a href="/admin/panel" name="homePage" class="btn btn-light" >Reservationist</a></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/panel/customerData">Müşterileri Listele</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/panel/reservationData">Rezervasyonları Listele</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/panel/contactData">İletişime Geçenler</a>
    </div>
</div>