<%- include('./partials/_head.ejs') %>
  <body>
    <section class="form-08">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <form action="" method="post"> 
                <% if (typeof(message)!="undefined") { %>
                    <div class="alert  alert-<%=message.class%> "><%=message.text %></div>
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="_form-08-main">
              <div class="_form-08-head">
                <h2>Welcome Back</h2>
              </div>

              <div class="form-group">
                <label for="email">Enter Your Email</label>
                <input name="email"  id="email" class="form-control" type="email" placeholder="Enter Email" required="" aria-required="true">
              </div>

              <div class="form-group">
                <label for="password">Enter Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" required="" aria-required="true" >
              </div>

              <!-- <div class="checkbox mb-0 form-group">
                <div class="form-check">
                  <input class="form-check-input" name="cbhatirla" type="checkbox" value="1" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">
                    Remember me
                  </label>
                </div>
                
              </div> -->

              <div class="form-group">

                    <button type="submit" class="_btn_04"  id="btnkaydet">Oturum Aç</button>
              
                <div class="col-sm-8 offset-sm-4">
                    <a href="reset-password" class="btn btn-danger ">Parolayı Sıfırla</a>

                </div>
              </div>

              <div class="sub-01">
                <img src="/static/admin/auth/login/images/shap-02.png">
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>